<!DOCTYPE html> 
<head>
    <link rel ="stylesheet" href = '/css/style.css'>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="Main-Content">
    {{>header}}
    <h1 class = 'abouth1'>Welcome</h1>
    <p>Have Tomatos</p>
    <img class = "aboutPic"src = '/img/tomato.jpg'>
    </div>
    {{>footer}}
</body>
</html>