<!DOCTYPE html>
<head>
    <link rel ="stylesheet" href = '/css/style.css'>
    <title>404 Not Found</title>
</head>

<body>
    <h1>The Help Link you are trying to get does not exist</h1>
    {{>header}}
    {{>footer}}
</body>
</html>